body {
    background-image: url(phon.png);
    background-size:cover;
    font-family: monospace;
    color: rgb(204, 204, 204);
}

ul .hr:hover {
    background-color: #2929295e;
}
ul {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 0 0 0 0;
	list-style-type: none;
}

.side_bar_login {
    border-radius: 20px;
    width: 500px;
    height: auto;
    background-color: rgb(75, 79, 83);
}

.side_bar_reg {
    border-radius: 25px;
    width: 500px;
    height: auto;
    background-color: rgb(75, 79, 83);
}

a {
    text-align: center;
    margin: auto;
    position: relative;
    width: 300px;
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-size: 25px;
    display: flex;	
    justify-content: center;	
}

.hr {
    width: 300px;
    border-radius:10px;
    background-color: rgba(144, 140, 172, 0.329);
    height: 28px;
}

.side_main {
    text-align: center;
    
    margin-top: 30%;
}

.side_reg {
    text-align: center;
    margin-top: 10%;
}
.side_login {
    text-align: center;
    margin-top: 10%;
}
.clasP {
    font-size: 25px;
    margin:auto;
}

.input_I {
    color: rgb(204, 204, 204);
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 15px;
    border-color: transparent;
    background-color:rgb(0, 0, 0);
    text-align: left;
    width: 400px;
}